* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button {
    border: none;
    font-size: 2rem;

    &:hover {
        background-color: rgb(223, 223, 223);
        cursor: pointer;
    }
}

.container {
    width: 450px;
    height: 675px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    &-top {
        background-color: white;
        width: 93%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        #screen-output {
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 400;
            color: #333;
            margin-bottom: 40px;
        }

        #screen-output-secondary {
            width: 100%;
            font-size: 1rem;
            color: rgb(104, 104, 104);
            text-align: start;
            margin: 10px 0 0 10px;
        }
    }

    &-bot {
        background-color: rgb(255, 0, 0);
        width: 93%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 90px 90px 90px 90px 90px;
        grid-gap: 2px;
    }
}

#btn-equals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}
